
.note-list{
    column-gap: 2rem;
    margin-inline: 5rem;
}

.note-img,
.note-txt,
.note-video,
.note-todos{
    width: 100%;
    border: 1px solid var(--clr3);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 0px var(--clr3);
    background-color: var(--clr1);
    text-align: center;
}

.note-img:hover,
.note-txt:hover,
.note-video:hover,
.note-todos:hover{
 
    border: 1px solid var(--clr--3);
    outline: 5px solid var(--clr--3);
    transform: rotate(0deg);
    z-index: 10;
}

.note-img  img{
    margin-bottom: 5rem;
}

.image-container{
    height: 200px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid var(--clr3);
}

.note-preview{
    position: relative;
    break-inside: avoid;
    margin-block-end: 2rem;
    width: calc(100% / 1);
    cursor: pointer;
}

.note-preview p,
.note-preview h5{
    padding: 0.5rem;
}

.note-add{
    margin-left: 50%;
    transform: translate(-50%);
    color: var(--clr3);
    max-width: 500px;
    margin-block: 2rem;
    border: 1px solid var(--clr2);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 0px var(--clr2);
    background-color: var(--clr1);
    flex-direction: column;
}

.note-add:hover{
    border: 1px solid var(--clr4);
}

.note-add input{
    flex-grow: 1;
    border: none;
    border-radius: 0.5rem;
}

.add-btn{
    padding: 1rem;
}

.add-btn:hover{
    cursor: pointer;
    color: var(--clr5);
}

textarea:focus, input:focus{
    outline: none;
}

.rotate{
    transform: rotate(45deg);
}

.note-todos ul {
    padding: 0 1rem 1rem;
}

.note-todos li {
    text-align: left;
    list-style: square inside;
}

.note-preview p::first-letter,
.note-preview li::first-letter {
   text-transform: capitalize;
}

.greyed{
    color: var(--clr3);
    text-decoration: line-through;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    border-radius: 0 0 0.5rem 0.5rem;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
}

.pinned{
    position: absolute;
    color: black;
    z-index: 100;
    top: -1rem;
}

.fade{
    opacity: 0.5;
}

.selectedNoteType,
.fade:hover{
    opacity: 1;
    color: black;
}

/* -----------RESPONSIVE----------- */

@media  (max-width: 780px) {

    .note-add{
        flex-direction: column;
        margin-inline: 2rem;
        width: calc(100vw - 4rem);
        transform: none;
    }
    .btns-container{
        display: flex;
        justify-content: space-around;
    }
}

@media  (max-width: 480px) {
    .note-list{
        column-count: 1;
    }

    .note-add{
        flex-direction: column;
    }
    .btns-container{
        display: flex;
        justify-content: space-around;
    }
}

@media  (min-width: 480px) {
    .note-list{
        column-count: 2;
    }

}

@media  (min-width: 780px) {
    .note-list{
        column-count: 3;
    }

    .note-add{
        flex-direction: row;
    }
}

@media  (min-width: 1025px) {
    .note-list{
        column-count: 4;
    }
}

@media  (min-width: 1200px) {
    .note-list{
        column-count: 5;
    }
}