/* flex helpers */

.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}
.flex.row {
  flex-direction: row;
}
.flex.column {
  flex-direction: column;
}
.flex.gap {
  gap: 0.5rem;
}
.flex.wrap{
    flex-wrap: wrap;
}

/* text helpers */

.colored-text {
  color: solid var(--clr5);
}

/* list helpers */

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* font awsome */

.fa {
  font-family: fa;
}

.fa.fa-facebook::before {
  content: '\f39e';
}

.fa.fa-twitter::before {
  content: '\f099';
}

.fa.fa-dribbble::before {
  content: '\f17d';
}

.fa.fa-behance::before {
  content: '\f1b4';
}

.fa.navbar-icon::before {
    content: "\f0c9";
    font-size: 2rem;
}

.fa.text-icon::before {
    content: "\f031";
    font-size: 1.5rem;
}

.fa.img-icon::before {
    content: "\f03e";
    font-size: 1.5rem;
}

.fa.video-icon::before {
    content: "\f03d";
    font-size: 1.5rem;
}

.fa.list-icon::before {
    content: "\f03a";
    font-size: 1.5rem;
}

.fa.pin-icon::before {
    content: "\f276";
    font-size: 1.5rem;
}

.fa.unpin-icon::before {
    content: "\f276";
    font-size: 1.5rem;
}
.fa.remove-icon::before {
    content: "\f00d";
    font-size: 1rem;
}
/* center */

.center{
    top: 50%;
    left: 50%;
    /* transform: translate(-50%); */
}
